{% extends "menu/base.html" %}

{% block content %}

<div class="container my-5 text-center" style="max-width: 580px;">
  <h1>Piatti per tutti i gusti</h1>
  <p class="lead">
    Concediti un pasto ricco e saporito,
    è provato che fa bene alla salute ;)
  </p>
  <button type="button" class="btn btn-primary">Ordina Subito</button>
  <a href="{% url 'contact' %}" type="button" class="btn btn-secondary">Contattaci</a>
</div>

<div class="container">
  <div class="row">
    {% for dish in dishes %}
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{{ dish.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ dish.name }}</h5>
          <p class="card-text">{{ dish.description }}</p>
          <p class="card-text">€ {{ dish.price }}</p>
          <a href="#" class="btn btn-primary">Acquista</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}